* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
