.button {
  background: $blue;
  font-size: $font-size-large;
  color: white;
  border-radius: 5px;
  border: none;
  padding: $s-size $xl-size;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

.button:hover,
.button:active {
  background: darken($blue, 5%);
}

.button__link {
  background: none;
}

.button__link:hover,
.button__link:active {
  background: none;
}
