.button {
  background: $blue;
  font-size: $font-size-large;
  color: white;
  border-radius: 3px;
  border: none;
  padding: $s-size $xl-size;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  &:hover,
  &:active {
    background: darken($blue, 5%);
  }
}

.button__link {
  background: none;
  &:hover,
  &:active {
    background: none;
  }
}

.button--secondary {
  background: #888;
  &:hover {
    background: darken(#888, 5%);
  }
}
